<h2>Sign Up</h2>

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <label>
    Full Name:
    <input type="text" formControlName="fullName" />
  </label>
  <br />

  <label>
    Username*:
    <input type="text" formControlName="username" />
  </label>
  <br />

  <label>
    Email*:
    <input type="email" formControlName="email" />
  </label>
  <br />

  <label>
    Password*:
    <input type="password" formControlName="password" />
  </label>
  <br />

  <button type="submit" [disabled]="signupForm.invalid">Submit</button>
</form>
